option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application

packages:
  yum:
    gcc: []
    python3-devel: []
    libffi-devel: []
    openssl-devel: []

container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
  02_install_dependencies:
    command: "pip install -r requirements.txt"
